<!-- Loop over each object in the posts array -->
{{#if logged_in}}
{{#each posts as |post| }}
<div class="card bg-info mt-2">
    <div class="card-header">
        <a class="text-white" href="/post/{{post.id}}">{{post.title}}</a>
    </div>
    <div class="card-body bg-light">
        <h5 class="card-title">{{post.content}}</h5>
        <div class="text-right">
            <small class="card-text">Posted by {{post.user.username}} on {{format_date post.date_created}}</small>
        </div>
    </div>
</div>
{{/each}}

{{else}}

{{#each posts as |post| }}
<div class="card bg-info mt-2">
    <div class="card-header">
        <span class="text-white">{{post.title}}</span>
    </div>
    <div class="card-body bg-light">
        <h5 class="card-title">{{post.content}}</h5>
        <div class="text-right">
            <small class="card-text">Posted by {{post.user.username}} on {{format_date post.date_created}}</small>
        </div>
    </div>
</div>
{{/each}}

{{/if}}